<html>
  <body>
    <div class="rounded-bs-none"></div>
    <div class="rounded-be-none"></div>
    <div class="rounded-is-none"></div>
    <div class="rounded-ie-none"></div>
    <div class="rounded-bs-sm"></div>
    <div class="rounded-be-sm"></div>
    <div class="rounded-is-sm"></div>
    <div class="rounded-ie-sm"></div>
    <div class="rounded-bs-md"></div>
    <div class="rounded-be-md"></div>
    <div class="rounded-is-md"></div>
    <div class="rounded-ie-md"></div>
    <div class="rounded-bs-lg"></div>
    <div class="rounded-be-lg"></div>
    <div class="rounded-is-lg"></div>
    <div class="rounded-ie-lg"></div>
    <div class="rounded-bs-xl"></div>
    <div class="rounded-be-xl"></div>
    <div class="rounded-is-xl"></div>
    <div class="rounded-ie-xl"></div>
    <div class="rounded-bs-2xl"></div>
    <div class="rounded-be-2xl"></div>
    <div class="rounded-is-2xl"></div>
    <div class="rounded-ie-2xl"></div>
    <div class="rounded-bs-3xl"></div>
    <div class="rounded-be-3xl"></div>
    <div class="rounded-is-3xl"></div>
    <div class="rounded-ie-3xl"></div>
    <div class="rounded-bs-full"></div>
    <div class="rounded-be-full"></div>
    <div class="rounded-is-full"></div>
    <div class="rounded-ie-full"></div>
  </body>
</html>
