<html>
  <body>
    <div class="border-b-0"></div>
    <div class="border-i-0"></div>
    <div class="border-b-2"></div>
    <div class="border-i-2"></div>
    <div class="border-b-4"></div>
    <div class="border-i-4"></div>
    <div class="border-b-8"></div>
    <div class="border-i-8"></div>
    <div class="border-b"></div>
    <div class="border-i"></div>
    <div class="border-bs-0"></div>
    <div class="border-be-0"></div>
    <div class="border-is-0"></div>
    <div class="border-ie-0"></div>
    <div class="border-bs-2"></div>
    <div class="border-be-2"></div>
    <div class="border-is-2"></div>
    <div class="border-ie-2"></div>
    <div class="border-bs-4"></div>
    <div class="border-be-4"></div>
    <div class="border-is-4"></div>
    <div class="border-ie-4"></div>
    <div class="border-bs-8"></div>
    <div class="border-be-8"></div>
    <div class="border-is-8"></div>
    <div class="border-ie-8"></div>
    <div class="border-bs"></div>
    <div class="border-be"></div>
    <div class="border-is"></div>
    <div class="border-ie"></div>
  </body>
</html>
