<html>
  <body>
    <div class="rounded-bs-none"></div>
    <div class="rounded-be-none"></div>
    <div class="rounded-is-none"></div>
    <div class="rounded-ie-none"></div>
    <div class="rounded-bs-sm"></div>
    <div class="rounded-be-sm"></div>
    <div class="rounded-is-sm"></div>
    <div class="rounded-ie-sm"></div>
    <div class="rounded-bs"></div>
    <div class="rounded-be"></div>
    <div class="rounded-is"></div>
    <div class="rounded-ie"></div>
    <div class="rounded-bs-md"></div>
    <div class="rounded-be-md"></div>
    <div class="rounded-is-md"></div>
    <div class="rounded-ie-md"></div>
    <div class="rounded-bs-lg"></div>
    <div class="rounded-be-lg"></div>
    <div class="rounded-is-lg"></div>
    <div class="rounded-ie-lg"></div>
    <div class="rounded-bs-xl"></div>
    <div class="rounded-be-xl"></div>
    <div class="rounded-is-xl"></div>
    <div class="rounded-ie-xl"></div>
    <div class="rounded-bs-2xl"></div>
    <div class="rounded-be-2xl"></div>
    <div class="rounded-is-2xl"></div>
    <div class="rounded-ie-2xl"></div>
    <div class="rounded-bs-3xl"></div>
    <div class="rounded-be-3xl"></div>
    <div class="rounded-is-3xl"></div>
    <div class="rounded-ie-3xl"></div>
    <div class="rounded-bs-full"></div>
    <div class="rounded-be-full"></div>
    <div class="rounded-is-full"></div>
    <div class="rounded-ie-full"></div>
    <div class="rounded-ss-none"></div>
    <div class="rounded-se-none"></div>
    <div class="rounded-es-none"></div>
    <div class="rounded-ee-none"></div>
    <div class="rounded-ss-sm"></div>
    <div class="rounded-se-sm"></div>
    <div class="rounded-es-sm"></div>
    <div class="rounded-ee-sm"></div>
    <div class="rounded-ss"></div>
    <div class="rounded-se"></div>
    <div class="rounded-es"></div>
    <div class="rounded-ee"></div>
    <div class="rounded-ss-md"></div>
    <div class="rounded-se-md"></div>
    <div class="rounded-es-md"></div>
    <div class="rounded-ee-md"></div>
    <div class="rounded-ss-lg"></div>
    <div class="rounded-se-lg"></div>
    <div class="rounded-es-lg"></div>
    <div class="rounded-ee-lg"></div>
    <div class="rounded-ss-xl"></div>
    <div class="rounded-se-xl"></div>
    <div class="rounded-es-xl"></div>
    <div class="rounded-ee-xl"></div>
    <div class="rounded-ss-2xl"></div>
    <div class="rounded-se-2xl"></div>
    <div class="rounded-es-2xl"></div>
    <div class="rounded-ee-2xl"></div>
    <div class="rounded-ss-3xl"></div>
    <div class="rounded-se-3xl"></div>
    <div class="rounded-es-3xl"></div>
    <div class="rounded-ee-3xl"></div>
    <div class="rounded-ss-full"></div>
    <div class="rounded-se-full"></div>
    <div class="rounded-es-full"></div>
    <div class="rounded-ee-full"></div>
  </body>
</html>
