<html>
  <body>
    <div class="max-bs-0"</div>
    <div class="max-bs-1"</div>
    <div class="max-bs-2"</div>
    <div class="max-bs-3"</div>
    <div class="max-bs-4"</div>
    <div class="max-bs-5"</div>
    <div class="max-bs-6"</div>
    <div class="max-bs-7"</div>
    <div class="max-bs-8"</div>
    <div class="max-bs-9"</div>
    <div class="max-bs-10"</div>
    <div class="max-bs-11"</div>
    <div class="max-bs-12"</div>
    <div class="max-bs-14"</div>
    <div class="max-bs-16"</div>
    <div class="max-bs-20"</div>
    <div class="max-bs-24"</div>
    <div class="max-bs-28"</div>
    <div class="max-bs-32"</div>
    <div class="max-bs-36"</div>
    <div class="max-bs-40"</div>
    <div class="max-bs-44"</div>
    <div class="max-bs-48"</div>
    <div class="max-bs-52"</div>
    <div class="max-bs-56"</div>
    <div class="max-bs-60"</div>
    <div class="max-bs-64"</div>
    <div class="max-bs-72"</div>
    <div class="max-bs-80"</div>
    <div class="max-bs-96"</div>
    <div class="max-bs-px"</div>
    <div class="max-bs-0.5"</div>
    <div class="max-bs-1.5"</div>
    <div class="max-bs-2.5"</div>
    <div class="max-bs-3.5"</div>
    <div class="max-bs-full"</div>
    <div class="max-bs-screen"</div>
  </body>
</html>
