<html>
  <body>
    <div class="max-is-0"</div>
    <div class="max-is-none"</div>
    <div class="max-is-xs"</div>
    <div class="max-is-sm"</div>
    <div class="max-is-md"</div>
    <div class="max-is-lg"</div>
    <div class="max-is-xl"</div>
    <div class="max-is-2xl"</div>
    <div class="max-is-3xl"</div>
    <div class="max-is-4xl"</div>
    <div class="max-is-5xl"</div>
    <div class="max-is-6xl"</div>
    <div class="max-is-7xl"</div>
    <div class="max-is-full"</div>
    <div class="max-is-min"</div>
    <div class="max-is-max"</div>
    <div class="max-is-prose"</div>
    <div class="max-is-screen-sm"</div>
    <div class="max-is-screen-md"</div>
    <div class="max-is-screen-lg"</div>
    <div class="max-is-screen-xl"</div>
    <div class="max-is-screen-2xl"</div>
  </body>
</html>
