.mbs-0 {
  -webkit-margin-before: 0;
          margin-block-start: 0
}

.mbs-1 {
  -webkit-margin-before: 0.25rem;
          margin-block-start: 0.25rem
}

.mbs-2 {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem
}

.mbs-3 {
  -webkit-margin-before: 0.75rem;
          margin-block-start: 0.75rem
}

.mbs-4 {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem
}

.mbs-5 {
  -webkit-margin-before: 1.25rem;
          margin-block-start: 1.25rem
}

.mbs-6 {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem
}

.mbs-8 {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem
}

.mbs-10 {
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem
}

.mbs-12 {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem
}

.mbs-16 {
  -webkit-margin-before: 4rem;
          margin-block-start: 4rem
}

.mbs-20 {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem
}

.mbs-24 {
  -webkit-margin-before: 6rem;
          margin-block-start: 6rem
}

.mbs-32 {
  -webkit-margin-before: 8rem;
          margin-block-start: 8rem
}

.mbs-40 {
  -webkit-margin-before: 10rem;
          margin-block-start: 10rem
}

.mbs-48 {
  -webkit-margin-before: 12rem;
          margin-block-start: 12rem
}

.mbs-56 {
  -webkit-margin-before: 14rem;
          margin-block-start: 14rem
}

.mbs-64 {
  -webkit-margin-before: 16rem;
          margin-block-start: 16rem
}

.mbs-px {
  -webkit-margin-before: 1px;
          margin-block-start: 1px
}
