.caption-side-is {
  caption-side: inline-start
}

.caption-size-ie {
  caption-side: inline-end
}

.float-is {
  float: inline-start
}

.float-ie {
  float: inline-end
}

.clear-is {
  clear: inline-start
}

.clear-ie {
  clear: inline-end
}

.text-start {
  text-align: start
}

.text-end {
  text-align: end
}

.resize-block {
  resize: block
}

.resize-inline {
  resize: inline
}

.bs-0 {
  block-size: 0
}

.bs-1 {
  block-size: 0.25rem
}

.bs-2 {
  block-size: 0.5rem
}

.bs-3 {
  block-size: 0.75rem
}

.bs-4 {
  block-size: 1rem
}

.bs-5 {
  block-size: 1.25rem
}

.bs-6 {
  block-size: 1.5rem
}

.bs-8 {
  block-size: 2rem
}

.bs-10 {
  block-size: 2.5rem
}

.bs-12 {
  block-size: 3rem
}

.bs-16 {
  block-size: 4rem
}

.bs-20 {
  block-size: 5rem
}

.bs-24 {
  block-size: 6rem
}

.bs-32 {
  block-size: 8rem
}

.bs-40 {
  block-size: 10rem
}

.bs-48 {
  block-size: 12rem
}

.bs-56 {
  block-size: 14rem
}

.bs-64 {
  block-size: 16rem
}

.bs-auto {
  block-size: auto
}

.bs-px {
  block-size: 1px
}

.bs-1\/2 {
  block-size: 50%
}

.bs-1\/3 {
  block-size: 33.333333%
}

.bs-2\/3 {
  block-size: 66.666667%
}

.bs-1\/4 {
  block-size: 25%
}

.bs-2\/4 {
  block-size: 50%
}

.bs-3\/4 {
  block-size: 75%
}

.bs-1\/5 {
  block-size: 20%
}

.bs-2\/5 {
  block-size: 40%
}

.bs-3\/5 {
  block-size: 60%
}

.bs-4\/5 {
  block-size: 80%
}

.bs-1\/6 {
  block-size: 16.666667%
}

.bs-2\/6 {
  block-size: 33.333333%
}

.bs-3\/6 {
  block-size: 50%
}

.bs-4\/6 {
  block-size: 66.666667%
}

.bs-5\/6 {
  block-size: 83.333333%
}

.bs-1\/12 {
  block-size: 8.333333%
}

.bs-2\/12 {
  block-size: 16.666667%
}

.bs-3\/12 {
  block-size: 25%
}

.bs-4\/12 {
  block-size: 33.333333%
}

.bs-5\/12 {
  block-size: 41.666667%
}

.bs-6\/12 {
  block-size: 50%
}

.bs-7\/12 {
  block-size: 58.333333%
}

.bs-8\/12 {
  block-size: 66.666667%
}

.bs-9\/12 {
  block-size: 75%
}

.bs-10\/12 {
  block-size: 83.333333%
}

.bs-11\/12 {
  block-size: 91.666667%
}

.bs-full {
  block-size: 100%
}

.bs-screen {
  block-size: 100vw
}

.is-0 {
  inline-size: 0
}

.is-1 {
  inline-size: 0.25rem
}

.is-2 {
  inline-size: 0.5rem
}

.is-3 {
  inline-size: 0.75rem
}

.is-4 {
  inline-size: 1rem
}

.is-5 {
  inline-size: 1.25rem
}

.is-6 {
  inline-size: 1.5rem
}

.is-8 {
  inline-size: 2rem
}

.is-10 {
  inline-size: 2.5rem
}

.is-12 {
  inline-size: 3rem
}

.is-16 {
  inline-size: 4rem
}

.is-20 {
  inline-size: 5rem
}

.is-24 {
  inline-size: 6rem
}

.is-32 {
  inline-size: 8rem
}

.is-40 {
  inline-size: 10rem
}

.is-48 {
  inline-size: 12rem
}

.is-56 {
  inline-size: 14rem
}

.is-64 {
  inline-size: 16rem
}

.is-auto {
  inline-size: auto
}

.is-px {
  inline-size: 1px
}

.is-1\/2 {
  inline-size: 50%
}

.is-full {
  inline-size: 100%
}

.is-screen {
  inline-size: 100vh
}

.mbs-0 {
  -webkit-margin-before: 0;
          margin-block-start: 0
}

.mbs-1 {
  -webkit-margin-before: 0.25rem;
          margin-block-start: 0.25rem
}

.mbs-2 {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem
}

.mbs-3 {
  -webkit-margin-before: 0.75rem;
          margin-block-start: 0.75rem
}

.mbs-4 {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem
}

.mbs-5 {
  -webkit-margin-before: 1.25rem;
          margin-block-start: 1.25rem
}

.mbs-6 {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem
}

.mbs-8 {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem
}

.mbs-10 {
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem
}

.mbs-12 {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem
}

.mbs-16 {
  -webkit-margin-before: 4rem;
          margin-block-start: 4rem
}

.mbs-20 {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem
}

.mbs-24 {
  -webkit-margin-before: 6rem;
          margin-block-start: 6rem
}

.mbs-32 {
  -webkit-margin-before: 8rem;
          margin-block-start: 8rem
}

.mbs-40 {
  -webkit-margin-before: 10rem;
          margin-block-start: 10rem
}

.mbs-48 {
  -webkit-margin-before: 12rem;
          margin-block-start: 12rem
}

.mbs-56 {
  -webkit-margin-before: 14rem;
          margin-block-start: 14rem
}

.mbs-64 {
  -webkit-margin-before: 16rem;
          margin-block-start: 16rem
}

.mbs-px {
  -webkit-margin-before: 1px;
          margin-block-start: 1px
}

.mbs-1\/2 {
  -webkit-margin-before: 50%;
          margin-block-start: 50%
}

.mbe-0 {
  -webkit-margin-after: 0;
          margin-block-end: 0
}

.mbe-1 {
  -webkit-margin-after: 0.25rem;
          margin-block-end: 0.25rem
}

.mbe-2 {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem
}

.mbe-3 {
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem
}

.mbe-4 {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem
}

.mbe-5 {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem
}

.mbe-6 {
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem
}

.mbe-8 {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem
}

.mbe-10 {
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem
}

.mbe-12 {
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem
}

.mbe-16 {
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem
}

.mbe-20 {
  -webkit-margin-after: 5rem;
          margin-block-end: 5rem
}

.mbe-24 {
  -webkit-margin-after: 6rem;
          margin-block-end: 6rem
}

.mbe-32 {
  -webkit-margin-after: 8rem;
          margin-block-end: 8rem
}

.mbe-40 {
  -webkit-margin-after: 10rem;
          margin-block-end: 10rem
}

.mbe-48 {
  -webkit-margin-after: 12rem;
          margin-block-end: 12rem
}

.mbe-56 {
  -webkit-margin-after: 14rem;
          margin-block-end: 14rem
}

.mbe-64 {
  -webkit-margin-after: 16rem;
          margin-block-end: 16rem
}

.mbe-px {
  -webkit-margin-after: 1px;
          margin-block-end: 1px
}

.mbe-1\/2 {
  -webkit-margin-after: 50%;
          margin-block-end: 50%
}

.mis-0 {
  -webkit-margin-start: 0;
          margin-inline-start: 0
}

.mis-1 {
  -webkit-margin-start: 0.25rem;
          margin-inline-start: 0.25rem
}

.mis-2 {
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem
}

.mis-3 {
  -webkit-margin-start: 0.75rem;
          margin-inline-start: 0.75rem
}

.mis-4 {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem
}

.mis-5 {
  -webkit-margin-start: 1.25rem;
          margin-inline-start: 1.25rem
}

.mis-6 {
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem
}

.mis-8 {
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem
}

.mis-10 {
  -webkit-margin-start: 2.5rem;
          margin-inline-start: 2.5rem
}

.mis-12 {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem
}

.mis-16 {
  -webkit-margin-start: 4rem;
          margin-inline-start: 4rem
}

.mis-20 {
  -webkit-margin-start: 5rem;
          margin-inline-start: 5rem
}

.mis-24 {
  -webkit-margin-start: 6rem;
          margin-inline-start: 6rem
}

.mis-32 {
  -webkit-margin-start: 8rem;
          margin-inline-start: 8rem
}

.mis-40 {
  -webkit-margin-start: 10rem;
          margin-inline-start: 10rem
}

.mis-48 {
  -webkit-margin-start: 12rem;
          margin-inline-start: 12rem
}

.mis-56 {
  -webkit-margin-start: 14rem;
          margin-inline-start: 14rem
}

.mis-64 {
  -webkit-margin-start: 16rem;
          margin-inline-start: 16rem
}

.mis-px {
  -webkit-margin-start: 1px;
          margin-inline-start: 1px
}

.mis-1\/2 {
  -webkit-margin-start: 50%;
          margin-inline-start: 50%
}

.mie-0 {
  -webkit-margin-end: 0;
          margin-inline-end: 0
}

.mie-1 {
  -webkit-margin-end: 0.25rem;
          margin-inline-end: 0.25rem
}

.mie-2 {
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem
}

.mie-3 {
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem
}

.mie-4 {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem
}

.mie-5 {
  -webkit-margin-end: 1.25rem;
          margin-inline-end: 1.25rem
}

.mie-6 {
  -webkit-margin-end: 1.5rem;
          margin-inline-end: 1.5rem
}

.mie-8 {
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem
}

.mie-10 {
  -webkit-margin-end: 2.5rem;
          margin-inline-end: 2.5rem
}

.mie-12 {
  -webkit-margin-end: 3rem;
          margin-inline-end: 3rem
}

.mie-16 {
  -webkit-margin-end: 4rem;
          margin-inline-end: 4rem
}

.mie-20 {
  -webkit-margin-end: 5rem;
          margin-inline-end: 5rem
}

.mie-24 {
  -webkit-margin-end: 6rem;
          margin-inline-end: 6rem
}

.mie-32 {
  -webkit-margin-end: 8rem;
          margin-inline-end: 8rem
}

.mie-40 {
  -webkit-margin-end: 10rem;
          margin-inline-end: 10rem
}

.mie-48 {
  -webkit-margin-end: 12rem;
          margin-inline-end: 12rem
}

.mie-56 {
  -webkit-margin-end: 14rem;
          margin-inline-end: 14rem
}

.mie-64 {
  -webkit-margin-end: 16rem;
          margin-inline-end: 16rem
}

.mie-px {
  -webkit-margin-end: 1px;
          margin-inline-end: 1px
}

.mie-1\/2 {
  -webkit-margin-end: 50%;
          margin-inline-end: 50%
}

.pbs-0 {
  -webkit-padding-before: 0;
          padding-block-start: 0
}

.pbs-1 {
  -webkit-padding-before: 0.25rem;
          padding-block-start: 0.25rem
}

.pbs-2 {
  -webkit-padding-before: 0.5rem;
          padding-block-start: 0.5rem
}

.pbs-3 {
  -webkit-padding-before: 0.75rem;
          padding-block-start: 0.75rem
}

.pbs-4 {
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem
}

.pbs-5 {
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem
}

.pbs-6 {
  -webkit-padding-before: 1.5rem;
          padding-block-start: 1.5rem
}

.pbs-8 {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem
}

.pbs-10 {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem
}

.pbs-12 {
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem
}

.pbs-16 {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem
}

.pbs-20 {
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem
}

.pbs-24 {
  -webkit-padding-before: 6rem;
          padding-block-start: 6rem
}

.pbs-32 {
  -webkit-padding-before: 8rem;
          padding-block-start: 8rem
}

.pbs-40 {
  -webkit-padding-before: 10rem;
          padding-block-start: 10rem
}

.pbs-48 {
  -webkit-padding-before: 12rem;
          padding-block-start: 12rem
}

.pbs-56 {
  -webkit-padding-before: 14rem;
          padding-block-start: 14rem
}

.pbs-64 {
  -webkit-padding-before: 16rem;
          padding-block-start: 16rem
}

.pbs-px {
  -webkit-padding-before: 1px;
          padding-block-start: 1px
}

.pbs-1\/2 {
  -webkit-padding-before: 50%;
          padding-block-start: 50%
}

.pbe-0 {
  -webkit-padding-after: 0;
          padding-block-end: 0
}

.pbe-1 {
  -webkit-padding-after: 0.25rem;
          padding-block-end: 0.25rem
}

.pbe-2 {
  -webkit-padding-after: 0.5rem;
          padding-block-end: 0.5rem
}

.pbe-3 {
  -webkit-padding-after: 0.75rem;
          padding-block-end: 0.75rem
}

.pbe-4 {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem
}

.pbe-5 {
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem
}

.pbe-6 {
  -webkit-padding-after: 1.5rem;
          padding-block-end: 1.5rem
}

.pbe-8 {
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem
}

.pbe-10 {
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem
}

.pbe-12 {
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem
}

.pbe-16 {
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem
}

.pbe-20 {
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem
}

.pbe-24 {
  -webkit-padding-after: 6rem;
          padding-block-end: 6rem
}

.pbe-32 {
  -webkit-padding-after: 8rem;
          padding-block-end: 8rem
}

.pbe-40 {
  -webkit-padding-after: 10rem;
          padding-block-end: 10rem
}

.pbe-48 {
  -webkit-padding-after: 12rem;
          padding-block-end: 12rem
}

.pbe-56 {
  -webkit-padding-after: 14rem;
          padding-block-end: 14rem
}

.pbe-64 {
  -webkit-padding-after: 16rem;
          padding-block-end: 16rem
}

.pbe-px {
  -webkit-padding-after: 1px;
          padding-block-end: 1px
}

.pbe-1\/2 {
  -webkit-padding-after: 50%;
          padding-block-end: 50%
}

.pis-0 {
  -webkit-padding-start: 0;
          padding-inline-start: 0
}

.pis-1 {
  -webkit-padding-start: 0.25rem;
          padding-inline-start: 0.25rem
}

.pis-2 {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem
}

.pis-3 {
  -webkit-padding-start: 0.75rem;
          padding-inline-start: 0.75rem
}

.pis-4 {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem
}

.pis-5 {
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem
}

.pis-6 {
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem
}

.pis-8 {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem
}

.pis-10 {
  -webkit-padding-start: 2.5rem;
          padding-inline-start: 2.5rem
}

.pis-12 {
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem
}

.pis-16 {
  -webkit-padding-start: 4rem;
          padding-inline-start: 4rem
}

.pis-20 {
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem
}

.pis-24 {
  -webkit-padding-start: 6rem;
          padding-inline-start: 6rem
}

.pis-32 {
  -webkit-padding-start: 8rem;
          padding-inline-start: 8rem
}

.pis-40 {
  -webkit-padding-start: 10rem;
          padding-inline-start: 10rem
}

.pis-48 {
  -webkit-padding-start: 12rem;
          padding-inline-start: 12rem
}

.pis-56 {
  -webkit-padding-start: 14rem;
          padding-inline-start: 14rem
}

.pis-64 {
  -webkit-padding-start: 16rem;
          padding-inline-start: 16rem
}

.pis-px {
  -webkit-padding-start: 1px;
          padding-inline-start: 1px
}

.pis-1\/2 {
  -webkit-padding-start: 50%;
          padding-inline-start: 50%
}

.pie-0 {
  -webkit-padding-end: 0;
          padding-inline-end: 0
}

.pie-1 {
  -webkit-padding-end: 0.25rem;
          padding-inline-end: 0.25rem
}

.pie-2 {
  -webkit-padding-end: 0.5rem;
          padding-inline-end: 0.5rem
}

.pie-3 {
  -webkit-padding-end: 0.75rem;
          padding-inline-end: 0.75rem
}

.pie-4 {
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem
}

.pie-5 {
  -webkit-padding-end: 1.25rem;
          padding-inline-end: 1.25rem
}

.pie-6 {
  -webkit-padding-end: 1.5rem;
          padding-inline-end: 1.5rem
}

.pie-8 {
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem
}

.pie-10 {
  -webkit-padding-end: 2.5rem;
          padding-inline-end: 2.5rem
}

.pie-12 {
  -webkit-padding-end: 3rem;
          padding-inline-end: 3rem
}

.pie-16 {
  -webkit-padding-end: 4rem;
          padding-inline-end: 4rem
}

.pie-20 {
  -webkit-padding-end: 5rem;
          padding-inline-end: 5rem
}

.pie-24 {
  -webkit-padding-end: 6rem;
          padding-inline-end: 6rem
}

.pie-32 {
  -webkit-padding-end: 8rem;
          padding-inline-end: 8rem
}

.pie-40 {
  -webkit-padding-end: 10rem;
          padding-inline-end: 10rem
}

.pie-48 {
  -webkit-padding-end: 12rem;
          padding-inline-end: 12rem
}

.pie-56 {
  -webkit-padding-end: 14rem;
          padding-inline-end: 14rem
}

.pie-64 {
  -webkit-padding-end: 16rem;
          padding-inline-end: 16rem
}

.pie-px {
  -webkit-padding-end: 1px;
          padding-inline-end: 1px
}

.pie-1\/2 {
  -webkit-padding-end: 50%;
          padding-inline-end: 50%
}

.border-bs-0 {
  border-block-start-width: 0
}

.border-be-0 {
  border-block-end-width: 0
}

.border-is-0 {
  border-inline-start-width: 0
}

.border-ie-0 {
  border-inline-end-width: 0
}

.border-bs-2 {
  border-block-start-width: 2px
}

.border-be-2 {
  border-block-end-width: 2px
}

.border-is-2 {
  border-inline-start-width: 2px
}

.border-ie-2 {
  border-inline-end-width: 2px
}

.border-bs-4 {
  border-block-start-width: 4px
}

.border-be-4 {
  border-block-end-width: 4px
}

.border-is-4 {
  border-inline-start-width: 4px
}

.border-ie-4 {
  border-inline-end-width: 4px
}

.border-bs-8 {
  border-block-start-width: 8px
}

.border-be-8 {
  border-block-end-width: 8px
}

.border-is-8 {
  border-inline-start-width: 8px
}

.border-ie-8 {
  border-inline-end-width: 8px
}

.border-bs {
  border-block-start-width: 1px
}

.border-be {
  border-block-end-width: 1px
}

.border-is {
  border-inline-start-width: 1px
}

.border-ie {
  border-inline-end-width: 1px
}

.rounded-bs-none {
  border-start-start-radius: 0;
  border-end-start-radius: 0
}

.rounded-be-none {
  border-end-end-radius: 0;
  border-start-end-radius: 0
}

.rounded-is-none {
  border-start-end-radius: 0;
  border-start-start-radius: 0
}

.rounded-ie-none {
  border-end-start-radius: 0;
  border-end-end-radius: 0
}

.rounded-bs-sm {
  border-start-start-radius: 0.125rem;
  border-end-start-radius: 0.125rem
}

.rounded-be-sm {
  border-end-end-radius: 0.125rem;
  border-start-end-radius: 0.125rem
}

.rounded-is-sm {
  border-start-end-radius: 0.125rem;
  border-start-start-radius: 0.125rem
}

.rounded-ie-sm {
  border-end-start-radius: 0.125rem;
  border-end-end-radius: 0.125rem
}

.rounded-bs {
  border-start-start-radius: 0.25rem;
  border-end-start-radius: 0.25rem
}

.rounded-be {
  border-end-end-radius: 0.25rem;
  border-start-end-radius: 0.25rem
}

.rounded-is {
  border-start-end-radius: 0.25rem;
  border-start-start-radius: 0.25rem
}

.rounded-ie {
  border-end-start-radius: 0.25rem;
  border-end-end-radius: 0.25rem
}

.rounded-bs-lg {
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem
}

.rounded-be-lg {
  border-end-end-radius: 0.5rem;
  border-start-end-radius: 0.5rem
}

.rounded-is-lg {
  border-start-end-radius: 0.5rem;
  border-start-start-radius: 0.5rem
}

.rounded-ie-lg {
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem
}

.rounded-bs-full {
  border-start-start-radius: 9999px;
  border-end-start-radius: 9999px
}

.rounded-be-full {
  border-end-end-radius: 9999px;
  border-start-end-radius: 9999px
}

.rounded-is-full {
  border-start-end-radius: 9999px;
  border-start-start-radius: 9999px
}

.rounded-ie-full {
  border-end-start-radius: 9999px;
  border-end-end-radius: 9999px
}

.rounded-ss-none {
  border-start-start-radius: 0
}

.rounded-es-none {
  border-end-start-radius: 0
}

.rounded-ee-none {
  border-end-end-radius: 0
}

.rounded-se-none {
  border-start-end-radius: 0
}

.rounded-ss-sm {
  border-start-start-radius: 0.125rem
}

.rounded-es-sm {
  border-end-start-radius: 0.125rem
}

.rounded-ee-sm {
  border-end-end-radius: 0.125rem
}

.rounded-se-sm {
  border-start-end-radius: 0.125rem
}

.rounded-ss {
  border-start-start-radius: 0.25rem
}

.rounded-es {
  border-end-start-radius: 0.25rem
}

.rounded-ee {
  border-end-end-radius: 0.25rem
}

.rounded-se {
  border-start-end-radius: 0.25rem
}

.rounded-ss-lg {
  border-start-start-radius: 0.5rem
}

.rounded-es-lg {
  border-end-start-radius: 0.5rem
}

.rounded-ee-lg {
  border-end-end-radius: 0.5rem
}

.rounded-se-lg {
  border-start-end-radius: 0.5rem
}

.rounded-ss-full {
  border-start-start-radius: 9999px
}

.rounded-es-full {
  border-end-start-radius: 9999px
}

.rounded-ee-full {
  border-end-end-radius: 9999px
}

.rounded-se-full {
  border-start-end-radius: 9999px
}

.inset-block-start-0 {
  inset-block-start: 0
}

.inset-block-start-auto {
  inset-block-start: auto
}

.inset-block-start-1\/2 {
  inset-block-start: 50%
}

.inset-block-end-0 {
  inset-block-end: 0
}

.inset-block-end-auto {
  inset-block-end: auto
}

.inset-block-end-1\/2 {
  inset-block-end: 50%
}

.inset-inline-start-0 {
  inset-inline-start: 0
}

.inset-inline-start-auto {
  inset-inline-start: auto
}

.inset-inline-start-1\/2 {
  inset-inline-start: 50%
}

.inset-inline-end-0 {
  inset-inline-end: 0
}

.inset-inline-end-auto {
  inset-inline-end: auto
}

.inset-inline-end-1\/2 {
  inset-inline-end: 50%
}
