<html>
  <body>
    <div class="border-lb-0"></div>
    <div class="border-li-0"></div>
    <div class="border-lb-2"></div>
    <div class="border-li-2"></div>
    <div class="border-lb-4"></div>
    <div class="border-li-4"></div>
    <div class="border-lb-8"></div>
    <div class="border-li-8"></div>
    <div class="border-lb"></div>
    <div class="border-li"></div>
    <div class="border-bs-0"></div>
    <div class="border-be-0"></div>
    <div class="border-is-0"></div>
    <div class="border-ie-0"></div>
    <div class="border-bs-2"></div>
    <div class="border-be-2"></div>
    <div class="border-is-2"></div>
    <div class="border-ie-2"></div>
    <div class="border-bs-4"></div>
    <div class="border-be-4"></div>
    <div class="border-is-4"></div>
    <div class="border-ie-4"></div>
    <div class="border-bs-8"></div>
    <div class="border-be-8"></div>
    <div class="border-is-8"></div>
    <div class="border-ie-8"></div>
    <div class="border-bs"></div>
    <div class="border-be"></div>
    <div class="border-is"></div>
    <div class="border-ie"></div>
  </body>
</html>
