<html>
  <body>
    <div class="max-is-1"></div>
    <div class="max-is-2"></div>
    <div class="max-is-3"></div>
    <div class="max-is-4"></div>
    <div class="max-is-5"></div>
    <div class="max-is-6"></div>
    <div class="max-is-7"></div>
    <div class="max-is-8"></div>
    <div class="max-is-9"></div>
    <div class="max-is-10"></div>
    <div class="max-is-11"></div>
    <div class="max-is-12"></div>
    <div class="max-is-14"></div>
    <div class="max-is-16"></div>
    <div class="max-is-20"></div>
    <div class="max-is-24"></div>
    <div class="max-is-28"></div>
    <div class="max-is-32"></div>
    <div class="max-is-36"></div>
    <div class="max-is-40"></div>
    <div class="max-is-44"></div>
    <div class="max-is-48"></div>
    <div class="max-is-52"></div>
    <div class="max-is-56"></div>
    <div class="max-is-60"></div>
    <div class="max-is-64"></div>
    <div class="max-is-72"></div>
    <div class="max-is-80"></div>
    <div class="max-is-96"></div>
    <div class="max-is-px"></div>
    <div class="max-is-0.5"></div>
    <div class="max-is-1.5"></div>
    <div class="max-is-2.5"></div>
    <div class="max-is-3.5"></div>
    <div class="max-is-1/2"></div>
    <div class="max-is-1/3"></div>
    <div class="max-is-2/3"></div>
    <div class="max-is-1/4"></div>
    <div class="max-is-2/4"></div>
    <div class="max-is-3/4"></div>
    <div class="max-is-1/5"></div>
    <div class="max-is-2/5"></div>
    <div class="max-is-3/5"></div>
    <div class="max-is-4/5"></div>
    <div class="max-is-1/6"></div>
    <div class="max-is-2/6"></div>
    <div class="max-is-3/6"></div>
    <div class="max-is-4/6"></div>
    <div class="max-is-5/6"></div>
    <div class="max-is-1/12"></div>
    <div class="max-is-2/12"></div>
    <div class="max-is-3/12"></div>
    <div class="max-is-4/12"></div>
    <div class="max-is-5/12"></div>
    <div class="max-is-6/12"></div>
    <div class="max-is-7/12"></div>
    <div class="max-is-8/12"></div>
    <div class="max-is-9/12"></div>
    <div class="max-is-10/12"></div>
    <div class="max-is-11/12"></div>
    <div class="max-is-xs"></div>
    <div class="max-is-sm"></div>
    <div class="max-is-md"></div>
    <div class="max-is-lg"></div>
    <div class="max-is-xl"></div>
    <div class="max-is-2xl"></div>
    <div class="max-is-3xl"></div>
    <div class="max-is-4xl"></div>
    <div class="max-is-5xl"></div>
    <div class="max-is-6xl"></div>
    <div class="max-is-7xl"></div>
    <div class="max-is-none"></div>
    <div class="max-is-full"></div>
    <div class="max-is-min"></div>
    <div class="max-is-max"></div>
    <div class="max-is-fit"></div>
    <div class="max-is-screen"></div>
    <div class="max-is-dvw"></div>
    <div class="max-is-lvw"></div>
    <div class="max-is-svw"></div>
  </body>
</html>
