<html>
  <body>
    <div class="min-bs-0"></div>
    <div class="min-bs-1"></div>
    <div class="min-bs-2"></div>
    <div class="min-bs-3"></div>
    <div class="min-bs-4"></div>
    <div class="min-bs-5"></div>
    <div class="min-bs-6"></div>
    <div class="min-bs-7"></div>
    <div class="min-bs-8"></div>
    <div class="min-bs-9"></div>
    <div class="min-bs-10"></div>
    <div class="min-bs-11"></div>
    <div class="min-bs-12"></div>
    <div class="min-bs-14"></div>
    <div class="min-bs-16"></div>
    <div class="min-bs-20"></div>
    <div class="min-bs-24"></div>
    <div class="min-bs-28"></div>
    <div class="min-bs-32"></div>
    <div class="min-bs-36"></div>
    <div class="min-bs-40"></div>
    <div class="min-bs-44"></div>
    <div class="min-bs-48"></div>
    <div class="min-bs-52"></div>
    <div class="min-bs-56"></div>
    <div class="min-bs-60"></div>
    <div class="min-bs-64"></div>
    <div class="min-bs-72"></div>
    <div class="min-bs-80"></div>
    <div class="min-bs-96"></div>
    <div class="min-bs-auto"></div>
    <div class="min-bs-px"></div>
    <div class="min-bs-0.5"></div>
    <div class="min-bs-1.5"></div>
    <div class="min-bs-2.5"></div>
    <div class="min-bs-3.5"></div>
    <div class="min-bs-1/2"></div>
    <div class="min-bs-1/3"></div>
    <div class="min-bs-2/3"></div>
    <div class="min-bs-1/4"></div>
    <div class="min-bs-2/4"></div>
    <div class="min-bs-3/4"></div>
    <div class="min-bs-1/5"></div>
    <div class="min-bs-2/5"></div>
    <div class="min-bs-3/5"></div>
    <div class="min-bs-4/5"></div>
    <div class="min-bs-1/6"></div>
    <div class="min-bs-2/6"></div>
    <div class="min-bs-3/6"></div>
    <div class="min-bs-4/6"></div>
    <div class="min-bs-5/6"></div>
    <div class="min-bs-1/12"></div>
    <div class="min-bs-2/12"></div>
    <div class="min-bs-3/12"></div>
    <div class="min-bs-4/12"></div>
    <div class="min-bs-5/12"></div>
    <div class="min-bs-6/12"></div>
    <div class="min-bs-7/12"></div>
    <div class="min-bs-8/12"></div>
    <div class="min-bs-9/12"></div>
    <div class="min-bs-10/12"></div>
    <div class="min-bs-11/12"></div>
    <div class="min-bs-full"></div>
    <div class="min-bs-screen"></div>
    <div class="min-bs-dvh"></div>
    <div class="min-bs-lvh"></div>
    <div class="min-bs-svh"></div>
    <div class="min-bs-min"></div>
    <div class="min-bs-max"></div>
    <div class="min-bs-fit"></div>
    <div class="min-bs-theme-variable"></div>
  </body>
</html>
