<html>
  <body>
    <div class="min-bs-0"></div>
    <div class="min-bs-0.5"></div>
    <div class="min-bs-1.5"></div>
    <div class="min-bs-2.5"></div>
    <div class="min-bs-3.5"></div>
    <div class="min-bs-auto"></div>
    <div class="min-bs-full"></div>
    <div class="min-bs-screen"></div>
    <div class="min-bs-dvh"></div>
    <div class="min-bs-lvh"></div>
    <div class="min-bs-svh"></div>
    <div class="min-bs-min"></div>
    <div class="min-bs-max"></div>
    <div class="min-bs-fit"></div>
  </body>
</html>
