<html>
  <body>
    <div class="bs-0"></div>
    <div class="bs-1"></div>
    <div class="bs-2"></div>
    <div class="bs-3"></div>
    <div class="bs-4"></div>
    <div class="bs-5"></div>
    <div class="bs-6"></div>
    <div class="bs-7"></div>
    <div class="bs-8"></div>
    <div class="bs-9"></div>
    <div class="bs-10"></div>
    <div class="bs-11"></div>
    <div class="bs-12"></div>
    <div class="bs-14"></div>
    <div class="bs-16"></div>
    <div class="bs-20"></div>
    <div class="bs-24"></div>
    <div class="bs-28"></div>
    <div class="bs-32"></div>
    <div class="bs-36"></div>
    <div class="bs-40"></div>
    <div class="bs-44"></div>
    <div class="bs-48"></div>
    <div class="bs-52"></div>
    <div class="bs-56"></div>
    <div class="bs-60"></div>
    <div class="bs-64"></div>
    <div class="bs-72"></div>
    <div class="bs-80"></div>
    <div class="bs-96"></div>
    <div class="bs-auto"></div>
    <div class="bs-px"></div>
    <div class="bs-0.5"></div>
    <div class="bs-1.5"></div>
    <div class="bs-2.5"></div>
    <div class="bs-3.5"></div>
    <div class="bs-1/2"></div>
    <div class="bs-1/3"></div>
    <div class="bs-2/3"></div>
    <div class="bs-1/4"></div>
    <div class="bs-2/4"></div>
    <div class="bs-3/4"></div>
    <div class="bs-1/5"></div>
    <div class="bs-2/5"></div>
    <div class="bs-3/5"></div>
    <div class="bs-4/5"></div>
    <div class="bs-1/6"></div>
    <div class="bs-2/6"></div>
    <div class="bs-3/6"></div>
    <div class="bs-4/6"></div>
    <div class="bs-5/6"></div>
    <div class="bs-full"></div>
    <div class="bs-screen"></div>
  </body>
</html>
